<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>Welcome</title>
  <!-- <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script.js"></script> -->
</head>

<body>
  <div>
    <h1 id="text-center">theVisions</h1>
    <p>
      To begin: <br> Please sign up and it'll redirect you to the profile page!
    </p>
    <form action="/users/login" method="post">
      <input placeholder="username" name="user[email]" type="text" />
      <br>
      <input placeholder="password" name="user[password]" type="password" />
      <br>
      <input id='submit' type="submit" value="Log in">
    </form>

    <div class="text-center">
      <a href="/users/new">Sign Up</a>
    </div>
  </div>
</body>

</html>